body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  background-color: #fff;
}

.testimonial {
  margin: 0 auto;
  padding: 0 2em;
}

.testimonialwrapper {
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  padding: 40px 25px;
  margin-top: 50px;
}

.testimonialquote p {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 1.4rem;
}

.testimonialavatar {
  margin: -90px auto 30px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
}

.testimonialname {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
}

.testimonianame span {
  font-weight: 400;
}
